doctype html
html(lang="en")
  head
    title Gallery
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/layout.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  body
    header.header
      .full-img-pic-layout.hidden
        img.arrow-right(src="/images/site-images/arrow-right.png")
        img.arrow-left(src="/images/site-images/arrow-left.png")

      a.header-link.header__index-link(href="/") Home
      if(userLogin)
        span.header-link User profile:  #{userLogin} 
        a.header-link(href="/upload") Upload images
        a.header-link(href="/logout") Logout
      else
        section.sign-in-wrapper
          a.header-link(href="/register") Sign up
          a.header-link(href="/login") Sign in
    block content

  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
  script(src="/javascripts/gallery.js")

  script.
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
    }


