extends layout


block content
  if(userLogin)
    p You're already logged in
  else
    main.login-content
      h1.login-message Welcome back!
      form.login-form(action="/login" method="POST")
        .input-field 
          i.material-icons.prefix account_circle
          input#icon_prefix.login.text(type="text" name="login")
          label.input-field-label(for="icon_prefix") Login
        .input-field 
          i.material-icons.prefix lock_outline
          input#icon_prefix.pass.text(type="password" name="pass" value=pass)
          label.input-field-label(for="icon_prefix") Password
        button.waves-effect.black.btn.submit Sign in
      if(err)
        p.error-message #{err}