extends layout


block content
  if(userLogin)
    p You're already logged in
  else
    h1 Welcome back!
    main.login-content
      form.login-form(action="/login" method="POST")
        label(for='uname')
          b Username
        input.login.text(type="text" placeholder="Enter Username" name="login" value=login style="margin-bottom: 5px")
        label(for='psw')
          b Password
        input.pass.text(type="password" placeholder="Enter Password" name="pass" value=pass)
        input.submit(type="submit" value="Login" style="margin-top: 10px")
      if(err)
        p.error-message #{err}